.one{
    background-color: rgb(28, 214, 28);
    width: 200px;
}

.three{
    color:green;
    background-color: gainsboro;
}


.table{
    width: 400px;
    border-collapse: collapse;
    border: 10px;
    border-color: ;
}

